html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: rgb(237, 237, 237);
}

#announcement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    width: 300px;
    height: fit-content;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

#announcement h3 {
    color: red;
}

#announcement p {
    color: black;
}

#all {
    opacity: 0.6;
    filter: brightness(0.7);
}


#empty-header {
    width:100vw;
    height: 100px;
    background-color: aquamarine;
}

header {
    position:fixed;
    z-index: 100;
    width:100vw;
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

#menu {
    display: flex;
    justify-content: space-between;
    width:40%;
}

#menu a {
    text-decoration: none;
    color:black;
}

#logo-header {
    max-height: 80px;
}



#banner {
    position: relative;
    width:100vw;
    height:200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center right;
    filter: blur(1.5px);
}


@media (min-width:750px) {

#all {
    padding: 10px 20px;
}

#mix {
    display: flex;
}    
    
#card {
    position: absolute;
    top:150px;
    left:50px;
    width:270px;
    height:600px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#card p {
    margin:0;
}

#card button {
    width: 50px;
    height: 50px;
    display:inline;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#card button span {
    display: none;
}

#card button:hover {
    transform: translateY(2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#button-whatsapp {
    background-image: url(icono-whatsapp.png);
    background-size: cover;
    background-position: center;
    
}

#button-gmail {
    background-image: url(icono-gmail.png);
    background-size: cover;
    background-position: center;
}

#p-card-skills-title {
    margin-bottom: 67px;
    font-weight: 500;
}

.p-card-skills {
    font-size: 0.9em;
    font-style: italic;
}

.div-card-number-projects {
    display:flex;
    justify-content: space-between;
    width:90%;
}

.div-card-number-projects p {
    font-size: 0.9em;
}

#projects {
    width:calc(100vw - 450px);
    position:absolute;
    right:0px;
    height:700px;
    padding: 10px 20px;
}

.gallery-projects {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
}

.div-project {
    background-color: white;
    padding: 20px;
    border-radius: 5%;
    width: 300px;
}

.div-project h3 {
    margin:0;
}

.div-project h4 {
    margin:0;
    font-size: 0.8em;
    font-weight: 400;
}

.img-project {
    width:100%;
    height:150px;
    object-fit: cover;
    object-position: top center;
    border-radius: 4%;
}

.gallery-skills {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
}

.div-skill {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 20px;
    border-radius: 5%;
    width: 300px;
}

.div-skill h3 {
    margin:0;
}

.div-skill h4 {
    margin:0;
    font-size: 0.8em;
    font-weight: 400;
}

.img-skill {
    width:100%;
    height:150px;
    object-fit: cover;
    object-position: top center;
    border-radius: 4%;
}

}

@media (max-width:750px) {

    #all {
        padding: 10px 20px;
    }

    #mix {
        display: block;
    }    

    #card {
        position: relative;
        top:-50px;
        left:auto;
        right:auto;
        margin-left: auto;
        margin-right: auto;
        width:270px;
        height:600px;
        background-color: white;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
    }

    #profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    #card p {
        margin:0;
    }

    #card button {
        width: 50px;
        height: 50px;
        display:inline;
        border: none;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }
    
    #card button span {
        display: none;
    }

    #card button:hover {
        transform: translateY(2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    #button-whatsapp {
        background-image: url(icono-whatsapp.png);
        background-size: cover;
        background-position: center;
        
    }

    #button-gmail {
        background-image: url(icono-gmail.png);
        background-size: cover;
        background-position: center;
    }

    #p-card-skills-title {
        margin-bottom: 15px;
        font-weight: 500;
    }

    .p-card-skills {
        font-size: 0.9em;
        font-style: italic;
    }

    .div-card-number-projects {
        display:flex;
        justify-content: space-between;
        width:90%;
    }
    
    .div-card-number-projects p {
        font-size: 0.9em;
    }

    #projects {
        position:relative;
        width:90vw;
        height:700px;
        padding: 20px 30px;
    }
    
    .gallery-projects {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap:20px;
        margin-bottom: 80px;
    }

    .div-project {
        background-color: white;
        padding: 20px;
        border-radius: 5%;
        width:300px;
    }
    
    .div-project h3 {
        margin:0;
    }
    
    .div-project h4 {
        margin:0;
        font-size: 0.8em;
        font-weight: 400;
    }
    
    .img-project {
        width:100%;
        height:150px;
        object-fit: cover;
        object-position: top center;
        border-radius: 4%;

    }

    .gallery-skills {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap:20px;
    }
    
    .div-skill {
        background-color: rgb(15, 15, 15);
        color: white;
        padding: 20px;
        border-radius: 5%;
        width: 300px;
    }
    
    .div-skill h3 {
        margin:0;
    }
    
    .div-skill h4 {
        margin:0;
        font-size: 0.8em;
        font-weight: 400;
    }
    
    .img-skill {
        width:100%;
        height:150px;
        object-fit: cover;
        object-position: top center;
        border-radius: 4%;
    }
    


}